<div class="styleguide">

  <h1>Styleguide</h1>
  <div class="row components">
    <div class="small-2 large-8 columns">
      <h1>h1. This is a very large header.</h1>
      <h2>h2. This is a large header.</h2>
      <h3>h3. This is a medium header.</h3>
      <h4>h4. This is a moderate header.</h4>
      <h5>h5. This is a small header.</h5>
      <h6>h6. This is a tiny header.</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia et nostrum fugiat eum? Doloribus illo expedita consectetur ex, dignissimos magnam! Nobis sapiente cum eos. Ipsa laudantium ratione atque rerum magni?
      <a href="#">A link</a>
      <em>Italic</em>
      <strong>bold</strong>
      </p>
      <ul class="disc">
        <li>List item with a much longer description or more content.</li>
        <li>List item</li>
        <li>List item
          <ul>
            <li>Nested list item</li>
            <li>Nested list item</li>
            <li>Nested list item</li>
          </ul>
        </li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
       </ul>
    </div>
    <div class="small-6 large-4 columns">Typography</div>
  </div>

  <div class="row components">
    <div class="small-2 large-8 columns">
      <ul class="vcard">
        <li class="fn">Gaius Baltar</li>
        <li class="street-address">123 Colonial Ave.</li>
        <li class="locality">Caprica City</li>
        <li><span class="state">Caprica</span>, <span class="zip">12345</span></li>
        <li class="email"><a href="#">g.baltar@example.com</a></li>
      </ul>
    </div>
    <div class="small-6 large-4 columns">Vcard</div>
  </div>

  <div class="row components">
    <div class="small-2 large-8 columns">
      <a href="#" class="button">Default Button</a>
      <a href="#" class="button small">Small Button</a>
      <a href="#" class="button expand">Expanded Button</a>
      <form>
        <div class="row">
          <div class="large-12 columns">
            <label>Input Label
              <input type="text" placeholder="large-12.columns" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <label>Input Label
              <input type="text" placeholder="large-4.columns" />
            </label>
          </div>
          <div class="large-4 columns">
            <label>Input Label
              <input type="text" placeholder="large-4.columns" />
            </label>
          </div>
          <div class="large-4 columns">
            <div class="row collapse">
              <label>Input Label</label>
              <div class="small-9 columns">
                <input type="text" placeholder="small-9.columns" />
              </div>
              <div class="small-3 columns">
                <span class="postfix">.com</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Select Box
              <select>
                <option value="husker">Husker</option>
                <option value="starbuck">Starbuck</option>
                <option value="hotdog">Hot Dog</option>
                <option value="apollo">Apollo</option>
              </select>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label>Choose Your Favorite</label>
            <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
            <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
          </div>
          <div class="large-6 columns">
            <label>Check these out</label>
            <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
            <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Textarea Label
              <textarea placeholder="small-12.columns"></textarea>
            </label>
          </div>
        </div>
      </form>
    </div>
    <div class="small-6 large-4 columns">Buttons and Fields</div>
  </div>

  <div class="row">
    <div class="small-2 large-8 columns">
    </div>
    <div class="small-6 large-4 columns"></div>
  </div>

  <div class="row">
    <div class="small-2 large-8 columns">
    </div>
    <div class="small-6 large-4 columns"></div>
  </div>

  <div class="row">
    <div class="small-2 large-8 columns">
    </div>
    <div class="small-6 large-4 columns"></div>
  </div>

  <div class="row">
    <div class="small-2 large-8 columns">
    </div>
    <div class="small-6 large-4 columns"></div>
  </div>

</div>
