<h1>Neuer Spendenfall</h1>

<form method="post">
  <div class="donation__case__new">
    <div class="donation__case--seperator">
      <div class="grid">
        <div class="grid__half">
          <h3>Organisation</h3>
          <label>Name</label>
          <input type="text"/>
          <label>Straße und Hausnummer</label>
          <input type="text"/>
          <label>Postleitzahl und Ort</label>
          <input type="text"/>
        </div>
        <div class="grid__half">
          <h3>Ansprechpartner</h3>
          <label>Name</label>
          <input type="text"/>
          <label>Telefon</label>
          <input type="text"/>
          <label>E-mail</label>
          <input type="text"/>
        </div>
      </div>
    </div>
    <div class="donation__case__item">
      <div class="grid">
        <div class="grid__half">
          <label>Name</label>
          <input type="text"/>
          <label>Menge</label>
          <input type="text"/>
          <label>Mindesthaltbarkeitsdatum</label>
          <input type="text"/>
          <label>Verfügbar ab</label>
          <input type="text"/>
        </div>
        <div class="grid__half">
          <label>Tiefkühlware</label>
          <input type="radio" name="tief" value="yes"><span class="radio__label">Ja</span>
          <input type="radio" name="tief" value="no"><span class="radio__label">Nein</span>
          <label>Spendenbeleg</label>
          <input type="radio" name="Spendenbeleg" value="yes"><span class="radio__label">Ja</span>
          <input type="radio" name="Spendenbeleg" value="no"><span class="radio__label">Nein</span>
          <label>Abholzeiten</label>
          <input type="text"/>
        </div>
      </div>
    </div>
    <div class="donation__case__item donation__case__changes">
      <h3>Letzte Änderungen</h3>
      <ul>
        <li><span class="date--changed">10.1.2300, 19:00</span>Eine Änderung</li>
        <li><span class="date--changed">10.1.2300, 19:00</span>Eine Änderung</li>
        <li><span class="date--changed">10.1.2300, 19:00</span>Eine Änderung</li>
        <li><span class="date--changed">10.1.2300, 19:00</span>Eine Änderung</li>
        <li><span class="date--changed">10.1.2300, 19:00</span>Eine Änderung</li>
      </ul>
    </div>



    <div class="donation__case__item donation__add">
      Neuer Spendenposten
    </div>
  </div>
  <button class="button--submit">Abschicken</button>
</form>

