
 * {
  margin: 0;
  padding: 0;
 }

$tafel-orange: #EC6B10;

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background: #fff;
}

a {
  color: #111;
  text-decoration: none;
}

h1 {
  margin-bottom: 40px;
}

h3 {
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
  margin-bottom: 10px;
}

input {
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #ccc;
  outline: none;
  &.changed {
    border-color: $tafel-orange;
  }
  &:focus {
    border-color: $tafel-orange;
  }
}

label {
  color: #888;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.radio__label {
  display: inline-block;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 14px;
}

.container, .alert-box {
  width: 960px;
  margin: 0 auto;
}

.button, button {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  display: inline-block;
  font-size: 14px;
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  background: $tafel-orange;
  &:hover {
    background: darken($tafel-orange, 10%);
  }
}

.grid {
  @extend .clearfix;
}

.grid__half {
  width: 46%;
  float: left;
  &:nth-child(2) {
    float: right;
  }
}

header {
  background: #eee;
  padding: 20px;
  margin-bottom: 40px;
}

.donation-case-form {
  input[type="text"] {
    width: 100%;
  }

  input[type="radio"] {
    margin-right: 2px;
    margin-bottom: 30px;
  }

  &__section {
    border-bottom: 1px solid #ccc;
    margin-bottom: 60px;
    padding-bottom: 60px;
  }

  &__add-donation-case-button {
    text-align: center;
    font-size: 20px;
    background: $tafel-orange;
    color: #fff;
    cursor: pointer;

    &:hover {
      background: darken($tafel-orange, 10%);
    }
  }

  &__submit-button {
    float: right;
  }

}

.donation-item {
  background: #eee;
  padding: 60px;
  margin-bottom: 40px;
}

footer {
  height: 60px;
}

table {
  width: 100%;
  position: relative;
  td, th {
    width: 25%;
  }
}