<header>
  <div class="container">
  <nav>
    <%= link_to "Stellwerk", root_path, class: "logo" %>
    <%= link_to "Spendenaufnahme", donation_cases_path, class: "logo" %>
    <%= link_to "Spendenverteilung", donation_deliveries_path, class: "logo" %>
  </nav>
  </div>
</header>

